@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

#section_1 {
  height: 120vh;
  padding: 0 5%;
}

span {
  color: #f48c06;
}
.featuretext1 {
  text-align: center;
}

.featuretext2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.featuretextpic2 {
  width: 45%;
  height: auto;
}

.featuretextpic2 img {
  width: 100%;
}

.imagecircle {
  background-color: white;
  box-shadow: 0 0 12px 0;
  width: 8%;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagecircle img {
  width: 40%;
}

.line {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.featurelrtext {
  width: 48%;
}

.featuretext3, .featuretext4, .featuretext5, .featuretext6 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.featuretext3 h1 {
  width: 65%;
}

.featuretextpic3 {
  display: flex;
  justify-content: center;
}

.featuretextpic3 img {
  width: 70%;
}

.q1 {
  color: #717fb0;
  background-color: #cdd8ff;
  border-radius: 25px;
  width: 35%;
  text-align: center;
}

.featuretextpic4 {
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 0 25px -10px;
  width: 35%;
  height: auto;
  padding: 1%;
  position: relative;
}

.featuretextpic4 .mg {
  width: 100%;
  position: relative;
  right: -45px;
}

.featuretextpic4 .overlaypic {
  position: absolute;
  top: 60%;
  left: 10%;
}

.overlaypic img {
  width: 100%;
}

.featuretextpic5 {
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 0 25px -10px;
  width: 35%;
  height: 30vh;
}

.featuretextpic5 .blsec {
  background-color: #54aff0;
  height: 20%;
  border-radius: 15px 15px 0 0;
}

.smfbutton {
  width: 25%;
  border: 0.5px solid #f48c06;
  border-radius: 25px;
  text-align: center;
  padding: 1% 0;
}

.smfbutton a {
  color: #f48c06;
  text-decoration: none;
}

.featuretextpic6 {
  position: relative;
  width: 40%;
  height: auto;
}

.featuretextpic6 img {
  width: 100%;
}

.featuretextpic6 .overlaypic6 {
  position: absolute;
  left: 50px;
}
