@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

.logorow img {
  width: 10%;
}

.boxtext img {
  width: 150px;
  margin: -70px auto;
  position: relative;
  top: -45px;
  cursor: pointer;
  transition: 0.2s;
}

button {
  border-radius: 80px;
  padding: 16px 32px;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  cursor: pointer;
}

button.login {
  background-color: #fff;
  color: #6c6c6c;
}

button.signup {
  background-color: #f48c06;
  color: #fff;
}

button.join-now {
  background-color: #d8587e;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

iframe {
  display: none;
}

#hero {
  font-family: Poppins, sans-serif;
  margin: 0 auto;
  background-color: #fff2e1;
  height: 100vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.mobile-header {
  display: none;
}

.mobile-small {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  left: 80px;
  position: absolute;
  font-weight: 700;
  font-size: 32px;
  color: #113c49;
  letter-spacing: 2px;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
}

.nav-links ul {
  display: flex;
  gap: 80px;
}

.nav-links ul li {
  list-style-type: none;
}

.blog-left a {
  color: #696984;
  font-size: 12px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #252641;
  letter-spacing: 2px;
  font-size: 22px;
}

.nav-cta {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-content {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-left h1 {
  font-size: 54px;
  color: #2f327d;
}

.hero-left span {
  color: #f48c06;
}

.hero-left > p {
  color: #464646;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
}

.hero-cta {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-cta > p {
  color: #252641;
  font-size: 24px;
}

form button {
  color: #fff;
  background-color: #545ae7;
}

.hero-cta button {
  font-weight: 600;
}

.hero-cta img {
  padding: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.hero-right {
  position: relative;
  display: flex;
}

.hero-right > img {
  height: 700px;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 520px;
}

.calender,
.email,
.user {
  padding: 20px;
  background: #ffffffb8;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  gap: 20px;
  color: #595959;
}

.calender,
.user,
.email,
.overlay > img {
  position: absolute;
  z-index: 2;
}

.overlay > img {
  right: -30px;
  top: 80px;
}

.calender {
  top: 180px;
  left: -80px;
}

.email {
  top: 350px;
  right: -140px;
  align-items: center;
}

.user {
  bottom: -580px;
  left: -80px;
  flex-direction: column;
  align-items: center;
}

.blog-left > img {
  width: 90%;
}

.email > img {
  padding: 10px;
  border-radius: 10px;
  background: #f48c06;
}

.card-1 img {
  width: 120px;
}

.card-3 button > img {
  width: 48px;
}

.email img:last-child {
  position: absolute;
  right: 10px;
  top: 10px;
}

.user-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-text img:nth-child(1) {
  position: relative;
}

.user-text img:nth-child(2) {
  position: absolute;
  left: 70px;
  top: 60px;
}

@media screen and (max-width: 1024px) {
  iframe {
    display: none;
  }

  .mobile-small {
    display: none;
  }

  .header {
    display: none;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-mobile {
    display: flex;
    align-items: center;
    position: relative;
  }

  .logo-mobile > span {
    left: 20px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    color: #113c49;
    letter-spacing: 2px;
  }

  button.login,
  button.signup {
    padding: 8px 16px;
    font-size: 12px;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-right {
    display: none;
  }

  .hero-left {
    text-align: center;
  }

  .hero-left h1 {
    font-size: 48px;
  }

  .hero-left > p {
    font-size: 18px;
  }

  .hero-cta {
    justify-content: center;
  }

  .hero-cta > p {
    font-size: 18px;
  }

  #hero {
    gap: 80px;
  }
}

@media screen and (max-width: 425px) {
  iframe {
    display: flex;
    max-width: 400px;
  }

  .mobile-header {
    display: none;
  }

  #hero {
    padding: 20px;
    background-image: url("../images/girl.png");
  }

  .mobile-small {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-left h1 {
    font-size: 25px;
  }

  .hero-left > p {
    font-size: 12px;
  }

  .hero-cta {
    flex-direction: column;
  }

  .hero-cta img,
  .hero-cta p {
    display: none;
  }
}

.section {
  height: 100vh;
}

.allinoneheadertext p {
  text-align: center;
  color: #696984;
}

.boxtext p {
  display: flex;
  width: 100%;
  color: #696984;
}

.logorow {
  display: flex;
  justify-content: space-around;
  padding: 1% 10%;
}

.blog-content p,
.blog-head p {
  color: #696984;
  font-size: 12px;
}

.card-2 > p {
  font-family: "Nunito Sans", sans-serif;
  color: #696984;
}

.card-3 p {
  font-family: Poppins, sans-serif;
  color: #696984;
  letter-spacing: 2px;
}

.card-5 p {
  font-size: 12px;
}

.footer-cta p {
  color: #b2b3cf;
  font-size: 26px;
  letter-spacing: 2px;
}

#logotext p {
  text-align: center;
  color: #696984;
}

#allinone {
  padding: 3%;
}

.allinoneheadertext {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}

.allinoneheadertext h1 {
  color: #2f327d;
}

.allinoneheadertext span {
  color: #f48c06;
}

.allinoneheaderbox2 {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 5% 0 0 5%;
  margin: auto;
}

.boxtext {
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 0 0 30px -20px #262d76;
  width: 30%;
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  padding: 5% 2%;
  cursor: pointer;
  transition: 0.5s;
}

.boxtext:hover {
  transform: translateY(-5px);
}

.boxtext h2 {
  display: flex;
  width: 100%;
  padding: 6% 0;
  color: #2f327d;
}

.boxtext img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 770px) {
  .allinoneheaderbox2 {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0;
  }

  .boxtext {
    width: 100%;
    margin: 10%;
  }

  .boxtext img {
    top: -30px;
    margin: -45px auto;
  }
}

#blog {
  height: 100vh;
  font-family: Poppins, sans-serif;
  padding: 20px;
}

.blog-right span {
  position: absolute;
  left: 22%;
  bottom: 15%;
}

.card-2 > span,
.card-3 > span {
  color: #525596;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 4px;
}

.card-2 h1 > span {
  color: #f48c06;
}

#blog span {
  padding: 0 20px;
  background-color: #f4c467;
  font-size: 12px;
  border-radius: 80px;
  text-align: center;
}

.blog-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.blog-head h1 {
  font-family: "Nunito Sans", sans-serif;
  color: #2f327d;
  font-size: 26px;
}

.blog-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.blog-content h3 {
  color: #252641;
  font-weight: 500;
}

.blog-left,
.blog-right {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.blog-right {
  gap: 20px;
}

.blog-right article {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.article-content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 425px) {
  #blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog-left,
  .blog-left a {
    padding: 20px;
    text-align: center;
  }

  .blog-left > img {
    padding: 20px;
    width: 100%;
  }

  .blog-right {
    display: flex;
    flex-direction: column;
  }

  .blog-right article {
    display: flex;
    flex-direction: column;
  }

  .blog-right article span {
    display: none;
  }
}

#testimonial {
  font-family: Poppins, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  place-items: center;
  gap: 40px;
  margin: 80px 0;
  position: relative;
}

.card-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  gap: 20px;
}

.card-2 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: start;
  width: 70%;
  gap: 20px;
}

.card-2 h1 {
  color: #2f327d;
  font-size: 36px;
}

.card-2 > button,
.card-3 button {
  border: 1px solid #f48c06;
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 80px;
  font-family: "Nunito Sans", sans-serif;
  color: #f48c06;
}

.card-3 h1 {
  font-family: "Nunito Sans", sans-serif;
  color: #2f327d;
}

.card-3 button {
  display: flex;
  align-items: center;
  padding: 0 0  0 20px;
  gap: 20px;
  border: 1px solid #f48c06;
  background-color: #fff;
  border-radius: 80px;
}

.card-3 {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.card-4 {
  position: relative;
}

.card-4 img:first-child {
  width: 60%;
  border-radius: 20px;
}

.card-4 img:last-child {
  width: 80px;
  position: absolute;
  top: 35%;
  right: 32%;
}

.card-5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Nunito Sans", sans-serif;
  color: #80819a;
  position: absolute;
  bottom: -70px;
  right: 190px;
  width: 450px;
  letter-spacing: 2px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  border-left: 10px solid salmon;
  box-shadow: 5px 5px 5px #4449;
  z-index: 1;
}

.name-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-rating figcaption {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  #testimonial {
    display: flex;
    flex-direction: column;
  }

  .card-2 {
    text-align: center;
    justify-items: center;
    order: -1;
  }

  .card-3 {
    align-items: center;
    text-align: center;
  }

  .card-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-4 img:last-child {
    display: none;
  }

  .card-5 {
    right: 20%;
  }
}

@media screen and (max-width: 425px) {
  .card-5 {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-color: #252641;
  color: #fff;
  gap: 30px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-txt {
  font-size: 22px;
  width: 150px;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  gap: 20px;
}

form input {
  border-radius: 80px;
  background-color: transparent;
  border: 1px solid #83839a;
  padding: 20px 30px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #b2b3cf;
}

.footer-links ul {
  display: flex;
  gap: 20px;
}

.footer-links ul li {
  list-style-type: none;
}

@media screen and (max-width: 425px) {
  .footer-cta p {
    font-size: 18px;
  }

  form {
    flex-direction: column;
  }
}
