@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.what-h1 {
  display: block;
  font-size: 2em;
  color: #04047a;
  margin-top: 0.67%;
  margin-bottom: 0.67%;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.what-h1 span {
  color: #f7d203f3;
}

.intro-paragraph {
  color: #7a7ad6;
  text-align: center;
  line-height: 1.5;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  flex-direction: row;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-template-rows: auto;
  gap: 2rem;
}

.left-section, .right-section {
flex: 1;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
color: white;
text-align: center;
}

.left-section {
  background-image: url("../images/Group\ 22.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 50px;
}

.right-section {
  background-image: url("../images/Rectangle\ 21.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-right: 10px;
}

.flex-container {
      display: flex;
      gap: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
}

.you-can-do {
  color: #030369;
  display: flex;
  justify-items: right;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding-left: 0.5em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.you-can-do span {
  color: #f7d203;
}

.button-start-button {
  display: block;
  border-radius: 40px;
  border: 0;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowwrap;
}

.btn-primary

p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.player-container {
  display: flex;
  justify-content:space-between;
  align-items: baseline;
  flex-direction: column;
  width: 100px;
  height: 50px;
  border: 1px solid #ccc;


}

.player {
  background-color: lightblue;
  padding: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}
